// 독립된 옵션으로 사용할수 있는 클래스 요소들을 작성

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-center {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

// 미디어 숨김 처리 클래스

.visible--mobile,
.v--mobile,
.v--m {
	@include roomy {
		display: none !important;
	}
}
.visible--roomy,
.visible--wide,
.v--roomy,
.v--wide,
.v--r,
.v--w {
	@include mobile {
		display: none !important;
	}
}

.hidetext {
	@include hidetext;
}

.touch-correction {
	@include touchCorrection;
}

.layout {
	@include layout;
}
.layout__wrap {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.layout-target {
	@include layoutTarget;
}
.layout-escape {
	@include layoutEscape;
}

.sourcebox {
	display: inline-flex;
	box-sizing: border-box;

	img,
	video {
		position: relative;
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: contain;
		display: inline-block;
		box-sizing: border-box;
	}
}

section {
	box-sizing: border-box;
}

.area {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto auto;
	box-sizing: border-box;

	.area__visual {
		overflow: hidden;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		display: flex;
		justify-content: center;
		box-sizing: border-box;

		&.-front {
			z-index: 3;
		}
	}

	.area__content {
		position: relative;
		z-index: 2;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;

		&.-fly {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		.area__content__wrap {
			display: flex;
			position: relative;
			flex-direction: column;
			box-sizing: border-box;
		}
	}

	.area__layout {
		margin: 0 auto;
		box-sizing: border-box;
		@include layoutTarget;
	}
}
